<header>
    <nav>
        <a href="#start" data-target="start">Inicio</a>
        <a href="#about" data-target="about">Nosotros</a>
        <a href="#music" data-target="music">Música</a>
        <a href="#channel" data-target="channel">Canal</a>
        <a href="#galery" data-target="galery">Galería</a>
        <a href="#events" data-target="events">Eventos</a>
        <a href="#socials" data-target="socials">Redes</a>
        <a href="#contact" data-target="contact">Contacto</a>
    </nav>
</header>