<link rel="stylesheet" href="/src/assets/css/styles.css">

<section id="home">
    <img src="/src/assets/img/logo_rojo.png" alt="logo_transparente" class="logo_transparente">
</section>

<section id="start">
    <h1>Somos una banda 66.6% mexicana</h1>
    <p>El 33.3% es por Curco xd</p>
</section>

<section id="about">
    <h2>¿Quiénes somos?</h2>
    <p>
        Somos una banda de metal originaria de Tesistan, formada en 2018. Nuestra música combina elementos de death metal, black metal y thrash metal, creando un sonido único y poderoso.
    </p>
</section>

<section id="music">
    <h2>Música</h2>
    <p>
        Nuestra discografía incluye varios EPs y un álbum completo. Puedes escuchar nuestra música y ver nuestros videos en YouTube, muy pronto en otras plataformas.
    </p>
</section>

<section id="channel">
    <h2>Canal de YouTube</h2>
    <p>
        Visita nuestro canal de YouTube para ver nuestros videos musicales, presentaciones en vivo y más contenido exclusivo. Suscríbete para estar al tanto de nuestras novedades.
    </p>
    <a href="https://www.youtube.com/@breadofdeath" target="_blank">Visitar Canal</a>

</section>

<section id="galery">
    <h2>Galería</h2>
    <p>
        Aquí puedes ver algunas fotos de nuestras presentaciones y momentos detrás del escenario. ¡Disfruta de nuestra galería!
    </p>
    <div class="gallery">
</section>

<section id="events">
    <h2>Eventos</h2>
    <p>
        Participamos en varios eventos y festivales de música a lo largo del año. Aquí puedes encontrar información sobre nuestros próximos conciertos y eventos pasados.
    </p>
    <ul>
        <li>Próximo evento: Fecha y lugar</li>
        <li>Evento pasado: Fecha y lugar</li>
        <!-- Agrega más eventos según sea necesario -->
    </ul>

</section>

<section id="contact">
    <h2>Contacto</h2>
    <p>
        Si deseas contactarnos, puedes enviarnos un correo electrónico a <a href="mailto:">breadofdeathoficial@gmail.com</a> o seguirnos en nuestras redes sociales. Estamos siempre abiertos a nuevas colaboraciones y oportunidades.
    </p>
</section>